<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Essaie 1 </title>
</head>
<body>
<div class="container">
    <h1 style="color: red"> Test pour retrouver un compte</h1>
    <form class="col-5" th:action="@{/reponseInter}" th:object="${Reponse}" method="post">
        <label><h6>Contenu Reponse</h6></label>
        <input type="text" class="form-control" th:field="*{Contenu}">
        <button type="submit"  th:href="@{/reponseInter}" class="btn btn-success">Envoyer</button>
    </form>






    <div class="alert alert-primary text-center text-uppercase fw-bold">
        Liste des Clients
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Code de Reponse</th>
            <th>intervention_id</th>
            <th>date_reponse</th>
            <th>Contenu</th>
            <th>departement</th>
            <th>personnel</th>
            <!--            <th>Role_employer</th>-->
            <!--            <th>Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="Reponse : ${ReponseList}">
            <td th:text="${Reponse.id_reponse}"></td>
            <td th:text="${Reponse.intervention_id}"></td>
            <td th:text="${Reponse.date_reponse}"></td>
            <td th:text="${Reponse.Contenu}"></td>
            <td th:text="${Reponse.departement}"></td>
            <td th:text="${Reponse.personnel}"></td>
            <!--            <td th:text="${Employer.Role_employer}"></td>-->

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>